REFRESH_TOKEN_SIGNING_KEY=<WHATEVER_YOU_WANT_TO_SIGN_THE_REFRESH_TOKENS>
SELF_API_KEY=<WHATEVER_YOU_WANT>
SOMFY_SERVER_HOST_NAME=<RASPBERRY_PI_HOST_NAME>
SOMFY_SERVER_PORT=<NICKDUINO_S_PI_SOMFY_RUNNING_WEBAPP_PORT>
SOMFY_SERVER_PASSWORD=<NICKDUINO_S_PI_SOMFY_RUNNING_WEBAPP_PASSWORD>
