REFRESH_TOKEN_SIGNING_KEY=<WHATEVER_YOU_WANT_TO_SIGN_THE_REFRESH_TOKENS>
SOMFY_PROXY_API_KEY=<WHATEVER_YOU_WANT>

SOMFY_SERVER_HOST_NAME=<RASPBERRY_PI_HOST_NAME>
SOMFY_SERVER_PORT=<NICKDUINO_S_PI_SOMFY_RUNNING_WEBAPP_PORT>
SOMFY_SERVER_PASSWORD=<NICKDUINO_S_PI_SOMFY_RUNNING_WEBAPP_PASSWORD>

LIGHTS_PROXY_API_KEY=<WHATEVER_YOU_WANT>
LIGHTS_PROXY_SERVER_HOST_NAME=<RASPBERRY_PI_HOST_NAME>
LIGHTS_PROXY_SERVER_PORT=<NICKDUINO_S_PI_SOMFY_RUNNING_WEBAPP_PORT>
LIGHTS_PROXY_SERVER_PASSWORD=<NICKDUINO_S_PI_SOMFY_RUNNING_WEBAPP_PASSWORD>
