[Unit]
Description=SomfyRTS - Shutters Service
After=network-online.target

[Service]
User=jsannier
ExecStart=node <PATH_TO_YOUR_SOMFY_SHUTTERS_BUILD_DIR>/src/index.js
WorkingDirectory=<PATH_TO_YOUR_SOMFY_SHUTTERS_BUILD_DIR>
Restart=on-failure
Type=exec


[Install]
WantedBy=multi-user.target