ENV=dev

HOSTNAME=127.0.0.1
PORT=3004

LIGHTS_SERVER_HOST_NAME=<SOME_IP>
LIGHTS_SERVER_PORT=<SOME_PORT>
LIGHTS_SERVER_API_KEY=<SOME_API_KEY_COMMON_WITH_RPI_LIGHTS_BACKEND>

DB_HOSTNAME=<DB_HOSTNAME>
DB_PORT=<DB_PORT>
DB_USERNAME=<DB_USERNAME>
DB_PASSWORD=<DB_PASSWORD>
DB_NAME=<DB_NAME>
DB_SCHEMA=<DB_SCHEMA>

SELF_API_KEY=<SOME_API_KEY_TO_SHARE_WITH_THE_BACKEND>
